## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [2]:
import pandas as pd

weather_df = pd.read_csv("../weather-raw.csv")

In [3]:
weather_df

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
melted_weather_df = weather_df.melt(id_vars=["id", "year", "month", "element"], 
                                    var_name="day",
                                    value_name="temperature")



melted_weather_df["day"] = melted_weather_df["day"].str.replace("d", "").astype(int)

melted_weather_df

          id  year  month element  day  temperature
0    MX17004  2010      1    tmax    1          NaN
1    MX17004  2010      1    tmin    1          NaN
2    MX17004  2010      2    tmax    1          NaN
3    MX17004  2010      2    tmin    1          NaN
4    MX17004  2010      3    tmax    1          NaN
..       ...   ...    ...     ...  ...          ...
677  MX17004  2010     10    tmin   31          NaN
678  MX17004  2010     11    tmax   31          NaN
679  MX17004  2010     11    tmin   31          NaN
680  MX17004  2010     12    tmax   31          NaN
681  MX17004  2010     12    tmin   31          NaN

[682 rows x 6 columns]

In [5]:
null_cols = melted_weather_df.isnull().sum()
null_cols[null_cols > 0]

temperature    616
dtype: int64

In [6]:
max_df = melted_weather_df[melted_weather_df["element"] == "tmax"].sort_values(by=["month", "day"])
min_df = melted_weather_df[melted_weather_df["element"] == "tmin"].sort_values(by=["month", "day"])

merged_df = pd.merge(max_df, min_df, how = "left", on = ["month", "day"])

merged_df.drop(['id_y', 'year_y', "element_x", "element_y"], axis=1, inplace = True)

merged_df.rename(columns = {"temperature_x": "max_temperature", "temperature_y":"min_temperature"}, inplace = True)

merged_df.head(32)

       id_x  year_x  month  day  min_temperature  max_temperature
0   MX17004    2010      1    1              NaN              NaN
1   MX17004    2010      1    2              NaN              NaN
2   MX17004    2010      1    3              NaN              NaN
3   MX17004    2010      1    4              NaN              NaN
4   MX17004    2010      1    5              NaN              NaN
5   MX17004    2010      1    6              NaN              NaN
6   MX17004    2010      1    7              NaN              NaN
7   MX17004    2010      1    8              NaN              NaN
8   MX17004    2010      1    9              NaN              NaN
9   MX17004    2010      1   10              NaN              NaN
10  MX17004    2010      1   11              NaN              NaN
11  MX17004    2010      1   12              NaN              NaN
12  MX17004    2010      1   13              NaN              NaN
13  MX17004    2010      1   14              NaN              NaN
14  MX17004    2010      1   15              NaN              NaN
15  MX17004    2010      1   16              NaN              NaN
16  MX17004    2010      1   17              NaN              NaN
17  MX17004    2010      1   18              NaN              NaN
18  MX17004    2010      1   19              NaN              NaN
19  MX17004    2010      1   20              NaN              NaN
20  MX17004    2010      1   21              NaN              NaN
21  MX17004    2010      1   22              NaN              NaN
22  MX17004    2010      1   23              NaN              NaN
23  MX17004    2010      1   24              NaN              NaN
24  MX17004    2010      1   25              NaN              NaN
25  MX17004    2010      1   26              NaN              NaN
26  MX17004    2010      1   27              NaN              NaN
27  MX17004    2010      1   28              NaN              NaN
28  MX17004    2010      1   29              NaN              NaN
29  MX17004    2010      1   30             27.8             14.5
30  MX17004    2010      1   31              NaN              NaN
31  MX17004    2010      2    1              NaN              NaN